<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background: #fafafa;
            color: #252525;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        main {
            margin-bottom: 3rem;
        }
        h1 {
            margin-bottom: 2rem;
        }
        article {
            padding-top: .5rem;
            margin-bottom: 2rem;
        }
        li {
            margin-bottom: 8px;
        }
        table, th, td {
            border: 1px solid #a2a9b1;
            border-collapse: collapse;
        }
        th, td {
            padding: .3rem .5rem;
        }
        footer {
            margin-bottom: 2rem;
        }
        .container {
            max-width: 1000px;
            margin: 0 auto;
        }
        .text-center {
            text-align: center;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main>
            <h1 tabindex="0">{{ title|upper }}</h1>
            {% for group in groups %}
                <article id="{{ group.title|lower }}">
                    <h2 tabindex="0">{{ group.title }}</h2>
                    <table width="100%">
                        <thead>
                            <tr>
                                <th width="20"></th>
                                <th width="300">Title</th>
                                <th width="300">Artist(s)</th>
                                <th width="60">Release</th>
                                <th width="70">Youtube</th>
                                <th width="60">Spotify</th>
                                <th width="100">Yes No Wave</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for album in group.albums %}
                                <tr>
                                    <td class="text-center">
                                        {% if album.is_highlighted %}
                                            &#9733;
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span tabindex="0">
                                            {{ album.title }}
                                        </span>
                                    </td>
                                    <td>
                                        {% for artist in album.artists %}
                                            <span>{{ artist.name }}</span>
                                            {% if not loop.last %}
                                                ,&nbsp;
                                            {% endif%}
                                        {% endfor %}
                                    </td>
                                    <td class="text-center">
                                        {% if album.year %}
                                            <span>{{ album.year }}</span>
                                        {% endif%}
                                    </td>
                                    <td class="text-center">
                                        {% if album.youtube %}
                                            <a href="{{ album.youtube }}">youtube</a>
                                        {% endif%}
                                    </td>
                                    <td class="text-center">
                                        {% if album.spotify %}
                                            <a href="{{ album.spotify }}">spotify</a>
                                        {% endif%}
                                    </td>
                                    <td class="text-center">
                                        {% if album.yes_no_wave %}
                                            <a href="{{ album.yes_no_wave }}">yes no wave</a>
                                        {% endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            {% endfor %}
        </main>
        <footer>
            <h3 tabindex="0">Curated by</h3>
            <p>
                <span tabindex="0">Twitter: @fthrrhmn31</span>
                <br>
                <span tabindex="0">Spotify: Aditya Fathurrahman</span>
            </p>
        </footer>
    </div>
</body>
</html>
